
<h2>My Heroes</h2>
<!--
  The *ngFor is Angular's repeater directive.
  It repeats the host element for each element in a list.

  AKA Structural directive
-->
<ul class="heroes">
  <li
    *ngFor = "let hero of heroes"
    (click) = "onSelect(hero)"
    [class.selected]="hero === selectedHero"
  >
  <!-- Angular's class binding can add and remove a CSS class conditionally -->

    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>


<app-hero-details [hero]="selectedHero"></app-hero-details>
 <!--
   [hero]="selectedHero" is an Angular property binding.

   Component receives hero as input details
   so @Input() hero shoud do it.

   How selectedHero will transit here ?
   It's a one way data binding from the selectedHero property of the HeroesComponent
   to the hero property of the target element,
   which maps to the hero property of the HeroDetailComponent
  -->
